* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #fff;
}
.logo {
  display: flex;
  justify-content: center;
}
img {
  width: 200px;
}
.info {
  display: flex;
  justify-content: center;
  gap: 15px;
}
a {
  color: rgb(18, 18, 90);
}
form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 600px;
  margin-top: 20px;
}
.forms {
  display: flex;
  justify-content: center;
}
.signTitle {
  color: #503f3f;
  font-size: 14px;
}
footer {
  margin-top: 10px;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f4f4f;
  width: 100%;
  text-align: center;
  height: 30px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}
input {
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 3px;
}
footer a:hover {
  background-color: #3e5757;
}
